CMakeFiles/
docs/
Debug/
ipch/
tapes/archive/
test.dir/
Win32/
ZXSpectrum/Debug/
ZXSpectrum/Release/
ZXSpectrum/ipch/
*~
*.swp
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj*
CMakeCache.txt
Makefile
cmake_install.cmake
debug.txt
poo
poop
parp
tags
test
test.exe

